* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#home{
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

#home main{
  max-width: 50%;
  padding: 2em;
  margin: 2em;
  font-size: 2em;
}

#home main p{
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 0.7em;
}



#home aside{
  margin-top: 5em;
}

footer{
  text-align: center;
}