* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#home{
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

#home main{
  max-width: 50%;
  padding: 2em;
  margin: 2em;
  font-size: 2em;
}

#home main p{
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 0.7em;
}

#home aside{
  margin-top: 5em;
}

#historia{
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

#historia main{
  max-width: 50%;
  padding: 2em;
  margin: 2em;
  font-size: 2em;
}

#historia main p{
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 0.7em;
}

#historia aside{
  margin-top: 5em;
}




footer{
  text-align: center;
}

/*Listado Productos */

#listadoProducto{
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(4, auto);
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

#listadoProducto main{
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1em;
  margin: 1em;
  font-size: 2em;
}

#productos{
  padding: 1em;
  margin: 1em;
  font-size: 2em;
}

#listadoProducto main p{
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 0.7em;
}

#listadoProducto aside{
  margin-top: 5em;
}